@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .transition-animation {
        transition-property: animation; /* Target the animation property */
        transition-duration: 0.3s; /* Adjust this for the desired smoothness */
        transition-timing-function: ease-in-out; /* You can tweak this as well */
    }
}
